/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1750px) {
  header img.decor-6, .partners img.decor-6 {
    top: 160px;
    left: 440px; }
  header img.decor-7, .partners img.decor-7 {
    top: 100px;
    left: 500px; }
  .header__big-sun_container {
    position: absolute;
    left: -300px;
    top: -120px;
    width: 100%;
    height: 1106px;
    z-index: 1; }
  .main-content__girls {
    position: absolute;
    left: 0;
    width: 100%; }
  .header__brushes {
    position: absolute;
    bottom: 125px;
    right: auto;
    left: -10px; }
  .header__bottom-line {
    background: url("../img/circle_flower.png") right 350px bottom 29% no-repeat, url("../img/bg_header_right.png") right bottom no-repeat, url("../img/bg_header_left.png") right 200px bottom -10px no-repeat;
    position: absolute;
    width: 100%;
    height: inherit;
    bottom: 0;
    right: 0; }
  .main-content__print_img {
    left: 660px; } }

@media only screen and (max-width: 1450px) {
  .main-content__gifts-blocks {
    margin-right: 0; }
  .main-content__callcenter {
    margin-right: 30px; }
  .main-content__promo-text {
    margin-right: 30px; }
  .header__gift-cards {
    right: 0; } }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1250px) {
  .header__big-sun_container {
    position: absolute;
    left: -16%;
    top: -90px;
    width: 85%;
    height: 1106px; }
  .main-content__girls {
    width: 70%;
    left: -30px; }
    .main-content__girls img {
      max-width: 100%; }
  header {
    height: 1050px; }
  .header__bottom-line {
    background: url("../img/circle_flower.png") right 350px bottom 29% no-repeat, url("../img/bg_header_right.png") right bottom no-repeat, url("../img/bg_header_left_less.png") left bottom no-repeat; }
  .header__gift-cards {
    width: 30%;
    bottom: 50px; }
    .header__gift-cards img {
      max-width: 100%; }
  .main-content__promo-text {
    width: 390px; }
  .main-content__promo-text p {
    font-size: 24px; }
  .main-content__promo-text .bold {
    font-size: 27px; }
  .main-content__print_img {
    left: 50%;
    bottom: 150px;
    width: 25%; }
  .header__brushes {
    width: 55%;
    bottom: 135px; }
    .header__brushes img {
      max-width: 100%; } }

@media only screen and (max-width: 1150px) {
  .container.less {
    width: 636px; }
  .container.more {
    width: 100%; }
  .partners__partners-list ul li {
    margin: 0 5px 10px; }
  .garant-presents__presents, .garant-presents__presents-defines {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    left: -70px; }
  .rules .container {
    width: 700px; }
  .rules__the-way {
    width: 96%;
    right: -35px; }
  .rules__steps > div .picture {
    width: 91px;
    height: 91px; }
  .rules__steps > div .description span {
    font-size: 18px; }
  .rules__steps > div .description p {
    font-size: 13px;
    margin-top: 5px; }
  .rules__steps > .rules__step1 {
    top: 322px;
    bottom: auto;
    left: -24px; }
    .rules__steps > .rules__step1 .description {
      width: 170px;
      left: -45px;
      top: 100px; }
  .rules__steps > .rules__step2 {
    top: 43px;
    left: 172px; }
    .rules__steps > .rules__step2 .description {
      width: 110px;
      left: 86px;
      top: 50px; }
  .rules__steps > .rules__step3 {
    top: 96px;
    right: auto;
    left: 577px; }
    .rules__steps > .rules__step3 .description {
      width: 85px;
      left: -98px;
      top: 22px; }
  .rules__steps > .rules__step4 {
    bottom: auto;
    right: auto;
    left: 436px;
    top: 307px; }
    .rules__steps > .rules__step4 .description {
      width: 150px;
      left: -32px;
      top: -85px; }
  .rules__steps > .rules__step5 {
    bottom: auto;
    right: auto;
    left: 593px;
    top: 412px; }
    .rules__steps > .rules__step5 .description {
      width: 300px;
      left: -323px;
      top: 20px; }
  .header__bottom-line {
    background: url("../img/circle_flower.png") right 350px bottom 29% no-repeat, url("../img/bg_header_right.png") right bottom no-repeat, url("../img/bg_header_left_less.png") left bottom no-repeat; }
  .main-content__girls {
    bottom: -130px; }
  .header__gift-cards {
    width: 35%;
    bottom: 30px; }
  .instagram__description p {
    padding: 0; }
  .calendar__paper-corner {
    width: 136px;
    height: 136px;
    background-size: 136px 136px; }
  .calendar__table-container table td {
    width: 84px;
    height: 84px; }
  .calendar__table-container table th {
    padding: 15px 0; }
  .calendar__table-container table td span {
    font-size: 32px;
    font-weight: bold; }
  .calendar__table-container table td span + span {
    font-size: 16px; }
  .winners__calendar-list ul li .winner-item {
    width: 135px; }
    .winners__calendar-list ul li .winner-item .photo {
      height: 135px; }
    .winners__calendar-list ul li .winner-item .name span {
      font-size: 14px; }
  .circle-modal .fancybox-close {
    width: 110px;
    height: 110px;
    background-size: 110px 110px;
    top: 15px;
    right: 15px; }
  .circle-modal {
    max-width: 480px;
    max-height: 480px;
    height: 480px !important; }
    .circle-modal .fancybox-skin {
      max-width: 480px;
      max-height: 480px;
      height: 580px !important;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .circle-modal .fancybox-inner {
      max-width: 480px;
      max-height: 480px;
      height: 480px !important; }
  .modal-content {
    width: 320px;
    padding-top: 90px; }
  .event-date {
    margin-bottom: 20px; }
    .event-date span {
      font-size: 35px; }
  .event-list .event {
    padding-bottom: 35px;
    padding-left: 90px;
    background: url(../img/modal-baloon.png) no-repeat left 10px top 40px;
    background-size: 54px 64px; }
    .event-list .event .brand {
      margin-bottom: 15px; }
      .event-list .event .brand img {
        max-width: 100%; }
    .event-list .event .information a {
      font-size: 19px;
      text-decoration: underline;
      color: #000;
      line-height: 1.1; }
      .event-list .event .information a:hover {
        text-decoration: none; }
  .difficult {
    background-color: #f3f3f3; }
  .difficult .modal-content {
    width: 410px;
    height: 100%;
    padding-top: 70px;
    margin: 0 auto; }
  .difficult .event-list .event-date {
    padding-bottom: 10px; }
  .difficult .event-list .event {
    padding-left: 0;
    width: 90%;
    margin: 0px auto 25px;
    background-image: none;
    background-color: #fff;
    -webkit-border-radius: 38px;
            border-radius: 38px;
    text-align: center; }
    .difficult .event-list .event .brand {
      width: auto;
      margin-top: -19px;
      margin-left: 20%;
      margin-right: 20%;
      padding: 6px 6px 0 6px;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      overflow: hidden;
      background: #ffffff;
      display: inline-block;
      margin-bottom: 15px; }
      .difficult .event-list .event .brand img {
        max-width: 100%;
        max-height: 30px; }
    .difficult .event-list .event .information {
      text-align: left;
      display: inline-block;
      margin-right: -4px;
      padding-left: 30px;
      padding-right: 10px;
      background: url(../img/modal-baloon.png) no-repeat left top;
      background-size: 26px 30px;
      vertical-align: top; }
      .difficult .event-list .event .information a {
        font-size: 14px;
        text-decoration: underline;
        color: #000;
        line-height: 1.1; }
        .difficult .event-list .event .information a:hover {
          text-decoration: none; }
  .difficult .event-list .two-adresses.event {
    padding: 0 15px 15px; }
  .difficult .event-list .two-adresses .information {
    width: 50%; }
  .difficult .event-list .one-adress.event {
    width: 45%;
    padding: 10px 10px 10px 20px;
    display: inline-block;
    margin-right: -4px;
    margin-left: 3%; }
  .calendar__block-decorations .left-big-decors {
    position: absolute;
    left: 0;
    top: 180px; }
    .calendar__block-decorations .left-big-decors .pencil {
      width: 71px;
      height: 229px;
      background-size: 71px 229px; }
    .calendar__block-decorations .left-big-decors .pomada {
      width: 46px;
      height: 148px;
      background-size: 46px 148px;
      left: 60px; }
  .calendar__block-decorations .right-big-decors {
    position: absolute;
    right: 80px;
    top: 180px; }
    .calendar__block-decorations .right-big-decors .circles {
      background-size: 108px 130px;
      width: 108px;
      height: 130px;
      right: -45px;
      top: -60px; }
    .calendar__block-decorations .right-big-decors .brush {
      width: 78px;
      height: 289px;
      background-size: 78px 289px;
      right: -90px;
      top: 0px; }
    .calendar__block-decorations .right-big-decors .little-brush {
      width: 25px;
      height: 292px;
      background-size: 25px 292px;
      right: -35px;
      top: 25px; }
    .calendar__block-decorations .right-big-decors .tush {
      width: 66px;
      height: 203px;
      background-size: 66px 203px;
      right: -30px;
      top: 170px; } }

@media only screen and (max-width: 1050px) {
  h2 {
    font-size: 40px;
    font-weight: bold; }
  .garant-presents__title h2 {
    padding: 16px 92px 16px 0; }
  .garant-presents__presents, .garant-presents__presents-defines {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    left: -40px; }
  .main-content__girls {
    bottom: -90px; }
  .header__big-sun_container {
    position: absolute;
    left: -320px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .header__podrygka-logo {
    position: absolute;
    right: 28px;
    bottom: 23px; }
  .header__bottom-line {
    background: url("../img/circle_flower768.png") right 27% bottom 60% no-repeat, url("../img/bg_header_right.png") right -55px bottom -10px no-repeat, url("../img/bg_header_left_less.png") left bottom no-repeat; }
  .instagram__title h2 {
    padding: 20px 105px 20px 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 960px) {
  .garant-presents__presents, .garant-presents__presents-defines {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    left: -70px; }
  .main-content__girls {
    bottom: -60px; }
  .main-content__print_img {
    bottom: 200px; }
  .header__brushes {
    bottom: 170px; }
  .main-content__promo-text p {
    text-transform: none; } }

@media only screen and (max-width: 768px) {
  header .decors {
    z-index: 1; }
  header img.decor-10 {
    right: 140px;
    left: auto; }
  header img.decor-3 {
    top: 100px;
    right: 0;
    z-index: 1; }
  header img.decor-2 {
    bottom: 240px; }
  .winners .decors {
    z-index: 1; }
  header img.decor-10, .partners img.decor-10 {
    top: 200px;
    left: 220px; }
  .parallax-style {
    width: 85px;
    background-size: 85px; }
  .main-content__girls {
    width: 80%;
    bottom: -25px; }
  .header__countdown {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    margin-left: -30px; }
    .header__countdown .header__countdown-title {
      font-size: 23px; }
  .header__bottom-line {
    background: url("../img/circle_flower768.png") right 27% bottom 60% no-repeat, url("../img/bg_header_right.png") right -85px bottom -25px no-repeat, url("../img/bg_header_left_less.png") left -200px bottom no-repeat; }
  .header__podrygka-logo img {
    width: 200px; }
  .header__big-sun_container {
    top: 40px; }
  .header__gift-cards {
    width: 40%;
    bottom: 80px; }
  .main-content__print_img {
    bottom: 185px;
    left: 58%; }
  .header__brushes {
    bottom: 150px; }
  .main-content__gifts-blocks {
    width: 20%;
    margin-right: 50px; }
  .main-content__callcenter {
    font-size: 18px; }
    .main-content__callcenter a {
      font-size: 18px; }
  .infinity_circle_parallax {
    background-position-y: 100% !important; }
  .spiral_circle_parallax {
    top: 150px; }
  .yellow_circle_lines_parallax {
    right: 0; }
  .green_dashed_circle_parallax {
    left: auto;
    right: -40px;
    top: 450px;
    width: 150px !important;
    background-size: 150px !important;
    z-index: 2; }
  .yellow_dotted_circle_parallax {
    width: 150px !important;
    background-size: 150px !important; }
  .flower_circle_parallax {
    background-position-y: 90% !important;
    left: -20px; }
  .orange_circle_parallax {
    background-size: 80px;
    top: 150px; }
  .main-content__yellow-circle-lines, .yellow_circle_lines_parallax {
    top: 400px; }
  .calendar img.decor-9 {
    top: 70px; }
  .calendar img.decor-10 {
    bottom: auto;
    right: 170px;
    top: 420px; }
  .main-content__pink-dotted-circle {
    top: 150px; }
  .winners__calendar-list ul li:first-child .winner-item .hide-check {
    left: 40px; }
  .winners__calendar-list ul li:last-child .winner-item .hide-check {
    left: -135px; } }

@media only screen and (max-width: 767px) {
  .winners__calendar-list ul li:first-child .winner-item .hide-check {
    left: 0; }
  .winners__calendar-list ul li:last-child .winner-item .hide-check {
    left: 0; }
  .partners {
    padding-top: 30px;
    padding-bottom: 30px; }
    .partners__title {
      margin-bottom: 30px; }
  .garant-presents {
    background-image: none; }
  .garant-presents .container.more {
    display: none; }
  .garant__presents-slider {
    display: block; }
  .container.less {
    width: 320px; }
  .calendar__block-decorations .left-decor-notepad-points {
    left: 20px; }
  .calendar__block-decorations .right-decor-notepad-points {
    right: 20px; }
  .calendar__block-decorations .left-decor-notepad-points .point, .calendar__block-decorations .right-decor-notepad-points .point {
    width: 26px;
    height: 40px;
    background: url(../img/notepad_point320.png) no-repeat top center; }
  .calendar__block-decorations .left-decor-notepad-points, .calendar__block-decorations .right-decor-notepad-points {
    width: 78px;
    height: 40px; }
  .calendar__block-decorations .left-decor-notepad-points .point + .point, .calendar__block-decorations .right-decor-notepad-points .point + .point {
    margin-left: 10px; }
  .calendar__block-decorations {
    top: -15px; }
  .calendar__month span {
    font-size: 26px; }
  .calendar__description {
    font-size: 13px;
    line-height: 1.5; }
  .calendar__table-container table th {
    font-size: 12px;
    padding: 10px 0; }
  .calendar__table-container table td {
    width: 49px;
    height: 49px; }
  .calendar__table-container table td span {
    font-size: 20px;
    font-weight: bold; }
  .calendar__table-container table td span + span {
    display: none; }
  .calendar__paper-corner {
    width: 82px;
    height: 82px;
    background-size: 82px 82px; }
  .calendar__bottom-part {
    -webkit-border-radius: 0;
            border-radius: 0;
    padding-top: 30px; }
  .calendar__top-part .container {
    width: 100%; }
  .rules {
    padding-top: 30px;
    padding-bottom: 60px; }
  .rules .container {
    width: 320px; }
  .rules__the-way {
    padding-top: 110px; }
  .rules__steps > div .picture {
    width: 70px;
    height: 70px; }
  .rules__steps > div .description span {
    font-size: 14px; }
  .rules__steps > div .description p {
    font-size: 12px;
    margin-top: 5px; }
  .rules__steps > .rules__step1 {
    top: 71px;
    bottom: auto;
    left: 50px; }
    .rules__steps > .rules__step1 .picture img {
      -webkit-transform: rotate(85deg) !important;
          -ms-transform: rotate(85deg) !important;
              transform: rotate(85deg) !important; }
    .rules__steps > .rules__step1 .description {
      width: 160px;
      left: -57px;
      top: -89px; }
  .rules__steps > .rules__step2 {
    top: 172px;
    left: 200px; }
    .rules__steps > .rules__step2 .picture img {
      -webkit-transform: rotate(-35deg) !important;
          -ms-transform: rotate(-35deg) !important;
              transform: rotate(-35deg) !important; }
    .rules__steps > .rules__step2 .description {
      width: 105px;
      left: -86px;
      top: 50px; }
  .rules__steps > .rules__step3 {
    top: 230px;
    right: auto;
    left: 22px; }
    .rules__steps > .rules__step3 .picture img {
      -webkit-transform: rotate(40deg) !important;
          -ms-transform: rotate(40deg) !important;
              transform: rotate(40deg) !important; }
    .rules__steps > .rules__step3 .description {
      width: 80px;
      left: -27px;
      top: 75px; }
  .rules__steps > .rules__step4 {
    bottom: auto;
    right: auto;
    left: 175px;
    top: 320px; }
    .rules__steps > .rules__step4 .description {
      width: 138px;
      left: -32px;
      top: 85px; }
  .rules__steps > .rules__step5 {
    bottom: auto;
    right: auto;
    left: 80px;
    top: 460px; }
    .rules__steps > .rules__step5 .description {
      width: 150px;
      left: -40px;
      top: 80px; }
  .instagram {
    padding-top: 30px;
    padding-bottom: 30px; }
  .instagram .container {
    width: 100%;
    padding: 0 15px; }
  .instagram__sliders {
    width: 100%;
    padding: 0 40px;
    margin: auto; }
  .instagram__title h2 {
    padding: 100px 0 0 0;
    background-position: top center; }
  .instagram__description h3 {
    font-size: 18px;
    margin-bottom: 20px; }
  .instagram__slider .swiper-button-prev {
    background: url(../img/garant-slider/left_arrow.png) no-repeat center;
    height: 103px;
    width: 40px;
    left: -55px;
    margin-top: -51px; }
  .instagram__slider .swiper-button-next {
    background: url(../img/garant-slider/right_arrow.png) no-repeat center;
    height: 103px;
    width: 40px;
    right: -55px;
    margin-top: -51px; }
  .instagram__slider {
    height: 200px; }
    .instagram__slider .swiper-container {
      height: 100%; }
  .map-block {
    padding-top: 30px; }
  .map-block__title {
    width: 100%;
    padding: 0 15px; }
  .winners {
    padding-bottom: 30px; }
  .winners__calendar-list {
    width: 320px;
    margin: 0 auto; }
  .winners__calendar-list:after {
    display: none; }
  .winners__calendar-list ul li {
    width: 50%; }
  .winners__calendar-list ul li .winner-item {
    width: 118px;
    margin-bottom: 10px; }
  .winners__calendar-list ul li .winner-item .photo {
    height: 118px;
    margin-bottom: 10px; }
  .winners__calendar-list ul li .winner-item .name span {
    font-size: 12px; }
  .winners__calendar-date {
    margin-bottom: 30px; }
  .shop-map {
    height: 350px; }
  .map__tabs {
    padding: 20px 15px; }
  .partners__partners-list ul li:nth-child(3n) {
    margin: 0 5px 10px; }
  .partners__partners-list ul li {
    margin: 0 5px 10px; }
  .partners__partners-list {
    padding: 20px; }
  .partners__info-parnter_container h3 {
    font-size: 18px; }
  .partners__woman-parnter {
    max-width: 161px; }
  .calendar__block-decorations .left-big-decors {
    position: absolute;
    left: 0;
    top: 180px; }
    .calendar__block-decorations .left-big-decors .pencil {
      width: 60px;
      height: 194px;
      background-size: 60px 194px;
      -webkit-transform: rotate(10deg);
          -ms-transform: rotate(10deg);
              transform: rotate(10deg);
      left: -30px; }
    .calendar__block-decorations .left-big-decors .pomada {
      width: 39px;
      height: 125px;
      background-size: 39px 125px;
      left: -10px;
      top: 70px;
      -webkit-transform: rotate(20deg);
          -ms-transform: rotate(20deg);
              transform: rotate(20deg); }
  .calendar__block-decorations .right-big-decors {
    position: absolute;
    right: 80px;
    top: 180px; }
    .calendar__block-decorations .right-big-decors .circles {
      background-size: 91px 110px;
      width: 91px;
      height: 110px;
      right: -130px;
      top: -60px; }
    .calendar__block-decorations .right-big-decors .brush {
      width: 66px;
      height: 245px;
      background-size: 66px 245px;
      right: -115px;
      top: 0;
      -webkit-transform: rotate(-20deg);
          -ms-transform: rotate(-20deg);
              transform: rotate(-20deg); }
    .calendar__block-decorations .right-big-decors .little-brush {
      width: 21px;
      height: 248px;
      background-size: 21px 248px;
      right: -75px;
      top: 25px;
      -webkit-transform: rotate(-20deg);
          -ms-transform: rotate(-20deg);
              transform: rotate(-20deg); }
    .calendar__block-decorations .right-big-decors .tush {
      display: none;
      width: 56px;
      height: 172px;
      background-size: 56px 172px;
      right: -30px;
      top: 170px; }
  .winners__calendar-list ul li .winner-item {
    position: static; }
  .mobile {
    display: initial !important; }
  .desktop {
    display: none !important; } }

@media only screen and (max-width: 640px) {

  .green_dashed_circle_parallax {
    top: 650px;
    z-index: 200;
  }


  .calendar__some-parnters .eveline {
    width: 70px; }
  .calendar__some-parnters .maxfactor {
    width: 118px; }
  .calendar__some-parnters .divage {
    width: 65px; }
  .calendar__some-parnters .vivenne_sabo {
    width: 83px; }
  .calendar__some-parnters .artdeco {
    width: 60px; }
  header {
    height: 970px; }
  .header__bottom-line {
    background: url("../img/circle_flower768.png") right 27% bottom 50% no-repeat, url("../img/bg_header_right.png") right -125px bottom -65px no-repeat, url("../img/bg_header_left_less.png") left -200px bottom -70px no-repeat; }
  .header__podrygka-logo img {
    width: 150px; }
  .header__bottom {
    height: 200px; }
  .header__countdown {
    margin-top: 70px;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    margin-left: -40px; }
    .header__countdown .header__countdown-title {
      font-size: 23px; }
  .header__brushes {
    bottom: 120px; }
  .header__gift-cards {
    width: 45%;
    bottom: -80px; }
  .main-content__print_img {
    left: auto;
    right: -25px;
    width: 30%;
    bottom: auto;
    top: -260px; }
  .garant-presents {
    padding-top: 20px;
    padding-bottom: 0; }
  .garant-presents__title h2 {
    padding: 90px 0 0 0;
    background-position: top center; }
  .circle-modal .fancybox-close {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    top: -33px;
    right: -33px; }
  .circle-modal {
    max-width: 270px;
    max-height: none;
    height: auto !important; }
    .circle-modal .fancybox-skin {
      max-width: 270px;
      max-height: none;
      height: auto !important;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
    .circle-modal .fancybox-inner {
      max-width: 270px;
      max-height: none;
      height: auto !important;
      -webkit-border-radius: 0;
              border-radius: 0;
      overflow: visible; }
  .modal-content {
    width: 210px;
    padding: 35px 0 20px 0; }
  .event-date {
    margin-bottom: 20px; }
    .event-date span {
      font-size: 23px; }
  .event-list .event {
    padding-bottom: 20px;
    padding-left: 50px;
    background: url(../img/modal-baloon.png) no-repeat left top 35px;
    background-size: 36px 43px; }
    .event-list .event .brand {
      margin-bottom: 10px; }
      .event-list .event .brand img {
        max-width: 100%;
        max-height: 25px; }
    .event-list .event .information a {
      font-size: 13px;
      text-decoration: underline;
      color: #000;
      line-height: 1.1; }
      .event-list .event .information a:hover {
        text-decoration: none; }
  .difficult {
    background-color: transparent; }
  .difficult .modal-content {
    width: 210px;
    padding: 35px 0 20px 0;
    margin: 0 auto; }
  .difficult .event-list .event-date {
    margin-bottom: 20px; }
    .difficult .event-list .event-date span {
      font-size: 23px; }
  .difficult .event-list .event {
    padding-left: 45px;
    width: auto;
    margin: 0px auto 10px;
    background: url(../img/modal-baloon.png) no-repeat left top 38px;
    background-size: 36px 43px;
    background-color: transparent;
    -webkit-border-radius: 0;
            border-radius: 0;
    text-align: left; }
    .difficult .event-list .event .brand {
      width: auto;
      margin-top: 0px;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      -webkit-border-radius: 0;
              border-radius: 0;
      overflow: hidden;
      background: transparent;
      display: inline-block;
      margin-bottom: 5px; }
      .difficult .event-list .event .brand img {
        max-width: 100%;
        max-height: 30px; }
    .difficult .event-list .event .information {
      text-align: left;
      display: block;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 12px;
      background-image: none;
      background-size: 26px 30px;
      vertical-align: top; }
      .difficult .event-list .event .information a {
        font-size: 13px;
        text-decoration: underline;
        color: #000;
        line-height: 1.1; }
        .difficult .event-list .event .information a:hover {
          text-decoration: none; }
  .difficult .event-list .two-adresses.event {
    padding: 0 0 0 45px; }
  .difficult .event-list .two-adresses .information {
    width: 100%; }
    .difficult .event-list .two-adresses .information .one-adress.event {
      width: 100%;
      display: block; }
  .difficult .event-list .one-adress.event {
    width: 100%;
    padding: 0 0 0 45px; } }

@media only screen and (max-width: 550px) {
  .header__bottom-line {
    background: url("../img/circle_flower768.png") right 20% bottom 68% no-repeat, url("../img/bg_header_right.png") right -125px bottom -65px no-repeat, url("../img/bg_header_left_less.png") left -200px bottom -70px no-repeat; }
  .header__countdown {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    margin-left: -80px; }
    .header__countdown .header__countdown-title {
      font-size: 12px; }
  .winners .container {
    position: relative;
    z-index: 2; }
  .winners .decors {
    z-index: 1; }
  .winners img.decor-6 {
    top: 150px; }
  .winners img.decor-9 {
    top: 270px; } }

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 30px; }
  header {
    height: 600px;
    background-image: none; }
  .header__brushes {
    bottom: 50px; }
  .header__bottom {
    height: 115px; }
  .header__gift-cards {
    width: 160px;
    height: auto;
    bottom: 50px; }
  .header__bottom-line {
    background: url("../img/circle_flower320.png") right 110px bottom 35px no-repeat, url("../img/bg_header_right320.png") right bottom no-repeat, url("../img/bg_header_left_less.png") left -300px bottom -140px no-repeat; }
  .header__podrygka-logo {
    right: 10px;
    bottom: 10px; }
    .header__podrygka-logo img {
      width: 95px; }
  .header__countdown {
    margin-top: -15px;
    -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
            transform: scale(0.4);
    margin-left: -110px; }
    .header__countdown .header__countdown-title {
      font-size: 12px; }
  .main-content__girls {
    width: 260px;
    bottom: 0; }
  .sm-hidden {
    display: none; }
  .main-content__callcenter, .main-content__promo-text {
    text-align: center;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0; }
  .main-content__promo-text {
    width: auto; }
    .main-content__promo-text p {
      font-size: 23px; }
    .main-content__promo-text .bold {
      font-size: 23px; }
  .main-content__gifts-blocks {
    width: auto;
    height: auto;
    margin-top: 0;
    margin-right: 25px; }
    .main-content__gifts-blocks img {
      width: 88px;
      margin-bottom: 5px;
      height: auto; }
    .main-content__gifts-blocks img + img {
      width: 110px;
      margin-left: -10px; }
  .header__big-sun_container {
    width: 300px;
    left: -50px;
    top: 200px; }
  .main-content__print_img {
    width: 140px;
    top: -70px;
    left: 150px; }
  .header__podrygka-logo {
    right: 5px;
    bottom: 20px; }
  .partners img.decor-6 {
    top: auto;
    left: auto;
    right: 20px;
    bottom: 70px; }
  .partners img.decor-2 {
    top: 40px;
    right: 50px;
    bottom: auto; }
  .partners img.decor-4 {
    top: 10px;
    right: 10px; }
  .partners img.decor-1 {
    bottom: 140px;
    top: auto; }
  .partners img.decor-5 {
    bottom: 80px;
    left: 50px;
    top: auto; }
  .winners .container {
    position: relative;
    z-index: 2; }
  .winners .decors {
    z-index: 1; }
  .winners img.decor-6 {
    top: 150px; }
  .winners img.decor-9 {
    top: 270px; } }

@media only screen and (max-width: 380px) {
  .header__bottom-line {
    background: url("../img/circle_flower320.png") right 100px bottom 40px no-repeat, url("../img/bg_header_right320.png") right bottom no-repeat, url("../img/bg_header_left320.png") left bottom no-repeat; }
  .main-content__girls {
    left: -40px;
    bottom: -20px; }
  .header__brushes {
    width: 180px;
    bottom: 65px; }
  .header__countdown {
    margin-left: -115px; }
  .header__big-sun_container {
    left: -100px; }
  h2 {
    font-size: 30px; }
  .map__tabs label {
    font-size: 16px; }
  .map-block__title h2 {
    text-transform: uppercase;
    width: 320px; } }

@media only screen and (max-width: 320px) {
  .header__bottom-line {
    background: url("../img/circle_flower320.png") right 95px bottom 45px no-repeat, url("../img/bg_header_right320.png") right bottom no-repeat, url("../img/bg_header_left320.png") left bottom no-repeat; }
  h2 {
    font-size: 30px; }
  .main-content__print_img {
    width: 140px;
    top: -175px;
    right: -10px;
    left: auto; }
  .header__gift-cards {
    right: 10px; }
  .container.less {
    width: 100%; } }
