.check-block {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 200px;
  background: #f4f4f4 url(../img/check-bg.png) no-repeat 0 0;
  font: 13px Antiqua;
  line-height: 16px;
  color: #000;
  border: 3px dotted #fff;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  left: -50%;
  right: -50%;
  top: -10%;
  margin: auto;
  bottom: 0
}

.check-block, .check-block .abs {
  position: absolute
}

.check-block .check-address {
  width: 100%;
  top: 40px
}

.check-block .check-city {
  width: 100%;
  top: 22px
}

.check-block strong {
  font: 14px COMIC\ SANS\ MS;
  font-weight: 700;
  color: #000
}

.check-block .terminal {
  left: 3px;
  top: 85px;
  text-align: left;
  color: hsla(0, 0%, 53%, .8)
}

.check-block .check-date {
  right: 3px;
  top: 82px;
  text-align: right;
  color: hsla(0, 0%, 53%, .8)
}


.hide-check {
  display: block;
  visibility: hidden;
  position: absolute;
  z-index: 50;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform .3s ease-in, opacity .3s ease-in, visibility .3s ease-in;
  -webkit-transition: opacity .3s ease-in, visibility .3s ease-in, -webkit-transform .3s ease-in;
  transition: opacity .3s ease-in, visibility .3s ease-in, -webkit-transform .3s ease-in;
  transition: transform .3s ease-in, opacity .3s ease-in, visibility .3s ease-in;
  -webkit-transition: -webkit-transform .3s ease-in, opacity .3s ease-in, visibility .3s ease-in, -webkit-transform .3s ease-in;
  transition: transform .3s ease-in, opacity .3s ease-in, visibility .3s ease-in, -webkit-transform .3s ease-in;
  transform: matrix(.5, 0, 0, .5, 0, 0);
  -moz-transform: matrix(.5, 0, 0, .5, 0, 0);
  -webkit-transform: matrix(.5, 0, 0, .5, 0, 0);
  -o-transform: matrix(.5, 0, 0, .5, 0, 0);
  -ms-transform: matrix(.5, 0, 0, .5, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.5, M12=0, M21=0, M22=0.5, Dx=0, Dy=0)
}

.hide-check.open {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 50;
  visibility: visible;
  cursor: pointer;
  transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, Dx=0, Dy=0)
}