@font-face {
	font-family: 'DaxlineOffcPro';
	src: url('../fonts/DaxlinePro/DaxlineOffcPro.eot?#iefix') format('embedded-opentype'),  url('../fonts/DaxlinePro/DaxlineOffcPro.woff') format('woff'), url('../fonts/DaxlinePro/DaxlineOffcPro.ttf')  format('truetype'), url('../fonts/DaxlinePro/DaxlineOffcPro.svg#DaxlineOffcPro') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'daxlinepro';
	src: url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.eot);
	src: url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.eot?#iefix) format('embedded-opentype') , url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.woff) format('woff') , url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.ttf) format('truetype') , url(../fonts/DaxlinePro-Regular/DaxlinePro-Regular.svg#DaxlinePro-Regular) format('svg');
	font-style: normal;
	font-weight: 400;
	text-rendering:optimizeLegibility}

@font-face {
	font-family: 'daxlinepro';
	src: url(../fonts/DaxlinePro-Black/DaxlinePro-Black.eot);
	src: url(../fonts/DaxlinePro-Black/DaxlinePro-Black.eot?#iefix) format('embedded-opentype') , url(../fonts/DaxlinePro-Black/DaxlinePro-Black.woff) format('woff') , url(../fonts/DaxlinePro-Black/DaxlinePro-Black.ttf) format('truetype') , url(../fonts/DaxlinePro-Black/DaxlinePro-Black.svg#DaxlinePro-Black) format('svg');
	font-style: normal;
	font-weight: 800;
	text-rendering:optimizeLegibility}

@font-face {
	font-family: 'daxlinepro';
	src: url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.eot);
	src: url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.eot?#iefix) format('embedded-opentype') , url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.woff) format('woff') , url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.ttf) format('truetype') , url(../fonts/DaxlinePro-Bold/DaxlinePro-Bold.svg#DaxlinePro-Bold) format('svg');
	font-style: normal;
	font-weight: 700;
	text-rendering:optimizeLegibility}

@font-face {
	font-family: 'daxlinepro';
	src: url(../fonts/DaxlinePro-Light/DaxlinePro-Light.eot);
	src: url(../fonts/DaxlinePro-Light/DaxlinePro-Light.eot?#iefix) format('embedded-opentype') , url(../fonts/DaxlinePro-Light/DaxlinePro-Light.woff) format('woff') , url(../fonts/DaxlinePro-Light/DaxlinePro-Light.ttf) format('truetype') , url(../fonts/DaxlinePro-Light/DaxlinePro-Light.svg#DaxlinePro-Light) format('svg');
	font-style: normal;
	font-weight: 300;
	text-rendering:optimizeLegibility}

@font-face {
	font-family: 'daxlinepro';
	src: url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.eot);
	src: url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.eot?#iefix) format('embedded-opentype') , url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.woff) format('woff') , url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.ttf) format('truetype') , url(../fonts/DaxlinePro-Medium/DaxlinePro-Medium.svg#DaxlinePro-Medium) format('svg');
	font-style: normal;
	font-weight: 500;
	text-rendering:optimizeLegibility}