/* Font.scss file */
@import "fonts"

//Vars
$light-blue: #44cec6
$pink: #d90094
$main-pink: #de007e
$orange: #ffdca9
$aqua-bg: #14b1ba

$orange-table: #ffa827

//Sass Styles

/* General styles */

.font-weight-normal
  font-weight: normal !important
.font-weight-bold
  font-family: 'Tahoma', sans-serif
  font-weight: 600 !important


h2
  font-size: 56px
  font-weight: bold

.mobile
  display: none !important

.desktop
  display: initial !important

.light-blue
  color: $light-blue

.pink
  color: $pink

.main-pink
  color: $main-pink

td.event-pink
  background-color: $main-pink !important

.orange
  background-color: #ffdca9 !important

.digit
  font-family: "Tahoma", sans-serif !important
  font-weight: 300 !important


*
  outline: none
  box-sizing: border-box

body
  font-family: 'DaxlineOffcPro', sans-serif
  width: 100%
  min-width: 320px
  font-size: 16px
  background-color: #fff

header
  height: 1106px
  width: 100%
  overflow: hidden
  background: url("../img/bottom_bg_gradient.png") repeat-x bottom

.container
  width: 1250px
  position: relative
  z-index: 1
  &.less
    width: 938px
  &.more
    width: 1132px
  &.centred
    margin:
      left: auto
      right: auto


/* Header.scss file */
@import "header"

.header__gift-cards
  position: absolute
  width: 500px
  height: 405px
  right: 230px
  bottom: 100px

.header__podrygka-logo
  position: absolute
  right: 65px
  bottom: 50px
  a
    display: inline-block

.header__countdown
  margin-top: 90px
  margin-left: 5%
  display: inline-block

.header__countdown-title
  text-align: center
  margin-bottom: 15px
  span
    font-size: 30px
    color: #fff
    text-transform: uppercase
    font-weight: bold

.header__countdown .count-defines div:last-child
  margin-right: 0
.header__countdown .count-defines div
  float: left
  margin-right: 29px
  width: 118px
  padding: 10px 35px
  color: #fff
  text-transform: uppercase
  font-weight: bold

/* End Header styles*/


/* Partners block */

@mixin top-bot-pad($top, $bottom)
  padding:
    top: $top
    bottom: $bottom

.partners
  position: relative
  background: url(../img/bg_second_block.png) repeat-x top center
  @include top-bot-pad(80px, 100px)

  &__title
    text-align: center
    margin-bottom: 45px
    h2
      font-weight: bold

  &__partners-list
    background-color: #f7f7f7
    width: 100%
    border-radius: 15px
    overflow: hidden
    text-align: center
    padding: 50px

    ul
      text-align: justify
      &:after
        content: ''
        display: inline-block
        height: 0
        line-height: 0
        width: 100%
      &:last-child:after
        display: none
      & li:nth-child(3n)
        margin: 0 20px
      li
        display: inline-block
        //margin-right: -4px
        vertical-align: middle
        margin: 0 15px 10px
        a
          display: inline-block

  &__info-parnter_container
    text-align: center
    h3
      display: inline-block
      padding: 10px
      background-color: #ffffff
      margin-top: -25px
      border-radius: 10px
      text-transform: uppercase
      font-size: 28px
      font-weight: 800
  &__woman-parnter
    margin: auto
    margin-top: 20px
    max-width: 300px
    a
      display: inline-block
    img
      max-width: 100%

/* /Partners block */

/* Garant Presents block */

.garant-presents
  @include top-bot-pad(80px, 60px)
  position: relative
  background: #14b1ba url(../img/bg_garant_block.png) no-repeat center top -107px
  overflow: hidden

  &__present-slider
    display: none

  &__title
    text-align: center
    margin-bottom: 20px
    z-index: 2
    position: relative

    h2
      display: inline-block
      color: #fff
      padding: 10px 92px 10px 0
      background: url(../img/third_title_present.png) right center no-repeat

  &__content
    position: relative
    left: -80px

  &__presents
    height: 690px
    width: 100%
    position: relative
    img
      position: absolute
      left: 60px
      bottom: 0
      right: 0
      top: 50px
      margin: auto
    img.percent_pict
      left: 1000px
      top: -30px

  &__content.hover &__presents-defines > div
    opacity: 1
  &__presents-defines
    height: 690px
    width: 100%
    position: absolute
    top: 0
    left: 0

    div
      position: absolute
      opacity: 0
      transition: all 1s ease
      img
        position: absolute
      span
        display: inline-block
        text-align: center
        width: 115px
        color: #fff
        font-size: 17px
        line-height: 1.3
        font-weight: bold
        text-transform: uppercase

    .umbrella
      left: 100px
      top: 35px

      img
        left: -32px
        top: 33px

    .kosmetichka
      left: 679px
      top: 140px

      img
        left: -60px
        top: 22px
    .povyazka
      left: 949px
      top: 135px

      img
        left: -8px
        top: 50px
    .brush
      left: 639px
      bottom: 40px

      img
        left: 60px
        top: -92px
    .hairbrush
      left: 938px
      bottom: 40px

      img
        left: 35px
        top: -106px

    .percent
      left: 1080px
      top: 113px

      img
        left: 25px
        top: 66px


%garant-arrows-base
  width: 40px
  height: 103px
  display: block
  position: absolute
  margin-top: -70px
.garant__presents-slider
  display: none

.garant__presents-slider
  height: 260px
  .swiper-slide
    text-align: center
    .picture
      position: relative
      width: 100%
      height: 220px
      img
        position: absolute
        max-width: 100%
        max-height: 100%
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
    .title
      text-align: center
      height: 40px
      span
        font-size: 17px
        font-weight: bold
        text-transform: uppercase
        color: #ffffff
  .swiper-button-prev
    @extend %garant-arrows-base
    left: 0
    background: url(../img/garant-slider/left_arrow.png) no-repeat center
  .swiper-button-next
    @extend %garant-arrows-base
    right: 0
    background: url(../img/garant-slider/right_arrow.png) no-repeat center
/* /Garant Presents block */

/* Calendar block */

%points-base
  position: absolute
  height: 100px
  width: 150px

  & .point
    display: inline-block
    width: 50px
    height: 95px
    background: url(../img/notepad_point.png) no-repeat top center

.calendar
  @include top-bot-pad(50px, 0)
  position: relative
  overflow: hidden
  background: url(../img/bg_calendar_top.png) repeat-x top center, linear-gradient(to bottom, $aqua-bg , $aqua-bg 50%, white 50%)
  
  &__block-decorations
    position: relative
    margin: 0 auto
    width: 938px
    top: -45px

    .left-decor-notepad-points
      @extend %points-base
      left: 0
      top: 0

      .point + .point
        margin-left: 45px

    .right-decor-notepad-points
      @extend %points-base
      right: 0
      top: 0

      .point + .point
        margin-left: 45px

    .left-big-decors
      position: absolute
      left: -30px
      top: 180px
      .pencil
        position: absolute
        background: url(../img/calendar/5.png) no-repeat center
        width: 84px
        height: 270px
        //left: -115px
      .pomada
        position: absolute
        background: url(../img/calendar/4.png) no-repeat center
        width: 55px
        height: 175px
        left: 80px
    .right-big-decors
      position: absolute
      right: 0
      top: 180px
      .circles
        position: absolute
        background: url(../img/calendar/7.png) no-repeat center
        width: 128px
        height: 154px
        right: 0
        top: -35px
      .brush
        position: absolute
        background: url(../img/calendar/3.png) no-repeat center
        width: 92px
        height: 340px
        right: -80px
        top: -15px
      .little-brush
        position: absolute
        background: url(../img/calendar/2.png) no-repeat center
        width: 30px
        height: 344px
        right: -12px
        top: 12px
      .tush
        position: absolute
        background: url(../img/calendar/1.png) no-repeat center
        width: 78px
        height: 239px
        right: 0
        top: 115px

  &__top-part
    background: #bde8cb
    border-radius: 30px 30px 0 0
    @include top-bot-pad(60px, 35px)

  &__title
    margin-bottom: 35px
    h2
      text-align: center

  &__description
    font-size: 17px
    font-weight: bold
    padding: 0 50px
    margin-bottom: 40px
    p
      text-align: center
      line-height: 1.5

  &__some-parnters
    padding: 0 50px
    ul
      text-align: center
      li
        display: inline-block
        padding: 5px 15px
        vertical-align: middle

  &__bottom-part
    position: relative
    background: #ffa827
    border-radius: 0 0 0 40px
    @include top-bot-pad(50px, 85px)

  &__month
    text-align: center
    padding-bottom: 10px
    span
      display: inline-block
      font-size: 45px
      color: #ffffff
      font-weight: bold

  &__table-container
    table
      width: 100%

      td
        width: 136px
        height: 136px
        background-color: #fff
        border: 2px solid $orange-table
        text-align: center
        vertical-align: middle
        span
          font-size: 52px
          color: #ffffff
          width: 100%
          display: inline-block
        span + span
          font-size: 18px
          font-weight: bold

      th
        text-align: center
        padding: 30px 10px
        color: #fff
        background-color: #ffa827
        vertical-align: middle
        font-size: 20px
        font-weight: bold
        text-transform: uppercase

  &__paper-corner
    position: absolute
    background: url(../img/orange_corner.jpg) no-repeat center
    width: 224px
    height: 223px
    right: 0
    bottom: 0


/* /Calendar block */

/* Rules block*/

.rules
  @include top-bot-pad(65px, 140px)
  position: relative

  &__title
    text-align: center
    margin-bottom: 40px
    h2
      display: inline-block

  &__the-way
    position: relative
    height: 600px
    width: 100%
    text-align: center

    img
      max-width: 100%

  &__steps
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    > div
      position: absolute
      left: 0
      top: 0
      margin-bottom: -20px
      .picture
        width: 130px
        height: 130px
        img
          max-width: 100%

      .description
        position: absolute
        span
          text-transform: uppercase
          font-size: 20px
          font-weight: bold
          color: $main-pink
        p
          margin-top: 10px
          line-height: 1
          font-size: 16px
          font-weight: bold

  .rules__steps > &__step1
    bottom: 86px
    left: 75px
    top: auto
    .description
      width: 250px
      left: -57px
      top: 150px

  .rules__steps > &__step2
    top: 52px
    left: 317px
    .description
      width: 135px
      left: 120px
      top: 80px
  .rules__steps > &__step3
    top: 120px
    left: auto
    right: 154px
    .description
      width: 135px
      right: 120px
      top: 30px
  .rules__steps > &__step4
    top: auto
    left: auto
    right: 336px
    bottom: 73px
    .description
      width: 180px
      left: -20px
      top: -100px
  .rules__steps > &__step5
    top: auto
    left: auto
    right: 135px
    bottom: -59px
    .description
      width: 370px
      left: -370px
      top: 50px

/* /Rules block */

/* Instagram */

.instagram
  background-color: #bde8cb
  @include top-bot-pad(70px, 100px)

  .swiper-container
    height: 100%

  &__title
    text-align: center
    margin-bottom: 20px
    h2
      display: inline-block
      padding: 15px 105px 15px 0
      background: url(../img/instagram_title.png) no-repeat center right

  &__description
    text-align: center
    margin-bottom: 45px
    h3
      font-size: 33px
      margin-bottom: 35px
    p
      font-size: 17px
      line-height: 1.4
      padding: 0 70px
      strong
        font-weight: bold

  &__slider
    position: relative
    margin-bottom: 20px
    height: 250px
    & .swiper-button-prev, & .swiper-button-next
      width: 26px
      height: 45px
    & .swiper-button-prev
      background: url(../img/slider/slider_arrow_left.png)
      left: -40px
    & .swiper-button-next
      background: url(../img/slider/slider_arrow_right.png)
      right: -40px

    & .slider-item
      a
        display: block
        width: 100%
        height: 100%
        text-align: center
        padding: 0 10px
        img
          max-width: 100%
          max-height: 100%
/* /Instagram */

/* Winners */

.winners
  @include top-bot-pad(55px, 100px)

  &__title
    text-align: center
    margin-bottom: 40px
    h2
      display: inline-block
      padding-top: 50px
      text-transform: uppercase
      background: url(../img/crown.png) no-repeat top center

  &__calendar-date
    position: relative
    width: 310px
    margin: 0 auto 60px
    .day
      text-align: center
      width: 120px
      margin: 0 auto
      .month
        font-weight: bold
        font-size: 24px
      ul li
        display: none
        span
          font-size: 70px
          font-weight: bold
        &.current
          display: block

  & .left-arrow, & .right-arrow
    width: 26px
    height: 45px
    position: absolute
    top: 0
    bottom: 0
    margin: auto
    cursor: pointer
  & .right-arrow
    background: url(../img/calendar/right_arrow.png) no-repeat center
    right: 0
  & .left-arrow
    background: url(../img/calendar/left_arrow.png) no-repeat center
    left: 0

  &__calendar-list
    background: #f1f1f1
    position: relative
    border-radius: 15px
    padding: 40px 15px
    &:after
      top: 0
      left: 50%
      border: solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none
      border-color: rgba(255, 255, 255, 0)
      border-top-color: #ffffff
      border-width: 18px
      margin-left: -18px

    ul
      width: 100%
      transition: all .5s ease
      li
        display: inline-block
        width: 20%
        margin-right: -4px

        .winner-item
          width: 168px
          margin: 0 auto
          position: relative
          a
            display: inline-block
            width: 100%
            height: 100%
          .photo
            width: 100%
            height: 168px
            text-align: center
            overflow: hidden
            border-radius: 100%
            position: relative
            z-index: 1
            background-color: #fff
            margin-bottom: 20px
            img
              position: absolute
              max-width: 100%
              left: -50%
              right: -50%
              margin: auto
          .name
            text-align: center
            span
              display: inline-block
              width: 100%
              font-size: 18px
              color: $main-pink
              font-weight: bold
              text-transform: uppercase

/* /Winners */

/* Map */

.map-block
  background: $main-pink
  @include top-bot-pad(90px, 90px)
  &__title
    text-align: center
    width: 630px
    color: #fff
    margin: 0 auto
    h2
      display: inline-block

/* /Map */


.map__tabs
  text-align: center
  @include top-bot-pad(60px, 60px)
.map__tabs input
  display: none


input[type="checkbox"], input[type="radio"]
  box-sizing: border-box
  padding: 0


.map__tabs input:checked+label
  background: #00b0b9
  color: #fff


.map__tabs .label-1
  border-radius: 20px 0 0 20px


.map__tabs .label-2
  border-radius: 0 20px 20px 0


.map__tabs label
  color: #999
  display: inline-block
  font-weight: 700
  text-align: center
  font-size: 21px
  background: #fff
  text-transform: uppercase
  padding: 10px 20px 5px 20px
  margin-right: -5px

.catalog_btn
  display: block
  width: 314px
  height: 67px
  text-decoration: none
  margin:
    top: 70px
    left: auto
    right: auto
    bottom: auto
  background-image: url(../img/catalog_btn.png)

.shop-map
  height: 550px
  overflow: hidden
  position: relative

  & > ymaps
    max-width: 100%
    border-radius: 20px

.modal-windows-container
  display: none

.circle-modal .fancybox-close
  background: url(../img/close_modal.png) no-repeat
  width: 124px
  height: 124px
  top: 25px
  right: 25px


.circle-modal
  max-width: 580px
  max-height: 580px
  height: 580px
  .fancybox-skin
    max-width: 580px
    max-height: 580px
    height: 580px
    border-radius: 50%
  .fancybox-inner
    max-width: 580px
    max-height: 580px
    height: 580px

  .fancybox-inner
    overflow: hidden
    border-radius: 50%

.modal
  width: 100%
  height: 100%

.modal-content
  width: 380px
  height: 100%
  padding-top: 105px
  margin: 0 auto

.event-date
  text-align: center
  margin-bottom: 35px
  span
    display: inline-block
    font-size: 36px
    font-weight: 600
    font-family: "Tahoma", sans-serif
    color: #2f2f2f

.event-list
  .event
    padding-bottom: 35px
    padding-left: 110px
    background: url(../img/modal-baloon.png) no-repeat left 20px top 45px
    .brand
      width: 100%
      margin-bottom: 15px
      img
        max-width: 100%
    
    .information

      a
        font-size: 23px
        text-decoration: underline
        color: #000
        line-height: 1.4
        &:hover
          text-decoration: none


.difficult
  background-color: #f3f3f3
.difficult .modal-content
  width: 500px
  height: 100%
  padding-top: 105px
  margin: 0 auto

.event-date
  text-align: center
  margin-bottom: 35px
  span
    display: inline-block
    font-size: 36px
    font-weight: 600
    font-family: "Tahoma", sans-serif
    color: #2f2f2f

.difficult .event-list
  .event
    margin-bottom: 35px
    padding-left: 0
    width: 90%
    margin: 0 auto 35px
    //background: url(../img/modal-baloon.png) no-repeat left 20px top 45px
    background-image: none
    background-color: #fff
    border-radius: 38px
    text-align: center
    .brand
      width: auto
      margin-top: -19px
      margin:
        left: 20%
        right: 20%
      padding: 6px 6px 0 6px
      border-radius: 10px
      overflow: hidden
      background: #ffffff
      display: inline-block
      margin-bottom: 15px
      img
        max-width: 100%
        max-height: 35px

    .information

      text-align: left
      display: inline-block
      margin-right: -4px
      padding-left: 30px
      padding-right: 10px
      background: url(../img/modal-baloon.png) no-repeat left top
      background-size: 26px 30px
      vertical-align: top
      min-height: 30px
      a
        font-size: 17px
        text-decoration: underline
        color: #000
        line-height: 1.1
        &:hover
          text-decoration: none

  .two-adresses.event
    padding: 0 15px 15px
  .two-adresses .information
    width: 50%

  .one-adress.event
    width: 45%
    padding: 10px 10px 10px 20px
    display: inline-block
    margin-right: -4px
    margin-left: 3%

.modal-event
  display: inline-block
  width: 100%
  position: relative

/* Стили для параллакса */
.rules, .instagram, .winners, .map-block, .partners, header
  position: relative
  overflow: hidden

.main-content__pink-dotted-circle
  position: absolute
  height: 100%
  width: 159px
  right: 0
  top: 350px
  background: url(../img/pink_dotted_circle.png) left no-repeat

.main-content__yellow-circle-lines
  position: absolute
  height: 100%
  width: 259px
  background-position-x: 100% !important
  left: 0
  top: 300px
  background: url(../img/yellow_circle_lines.png) no-repeat
.blue_circle_parallax
  position: absolute
  height: 100%
  width: 344px
  left: 0
  top: 0
  background: url(../img/blue_circle_lines.png) no-repeat
.yellow_dotted_circle_parallax
  position: absolute
  height: 100%
  width: 320px
  right: -50px
  top: 500px
  overflow: hidden
  background: url(../img/yellow_dotted_circle.png) no-repeat
.orange_circle_parallax
  position: absolute
  height: 100%
  width: 147px
  left: 0
  top: 0
  background: url(../img/orange_circle.png) no-repeat
.flower_circle_parallax
  position: absolute
  height: 100%
  width: 285px
  right: 0
  top: 0
  background: url(../img/flower_parallax_circle.png) no-repeat
.green_circle_parallax
  position: absolute
  height: 100%
  width: 320px
  left: -80px
  top: 0
  background: url(../img/green_dashed_circle.png) no-repeat


.yellow_circle_lines_parallax
  position: absolute
  height: 100%
  width: 320px
  right: -160px
  top: 0
  background: url(../img/yellow_circle_lines.png) no-repeat
.green_dashed_circle_parallax
  position: absolute
  height: 100%
  width: 320px
  left: -160px
  top: 0
  background-position-x: 100% !important
  background: url(../img/aqua_circle.png) no-repeat
.spiral_circle_parallax
  position: absolute
  height: 100%
  width: 150px
  left: 0
  top: 0
  background: url(../img/spiral_circle.png) no-repeat
.infinity_circle_parallax
  position: absolute
  height: 100%
  width: 143px
  right: 0
  top: 0
  background: url(../img/infinity_circle.png) no-repeat
/* /Стили для параллакса */

/* Мигающие декорации */

.decors
  position: absolute
  z-index: 5
  animation: blinker 3s linear infinite

header, .partners
  img.decor-1
    top: 300px
    right: 30px

  img.decor-2
    bottom: 310px
    right: 30px
  img.decor-3
    top: 300px
    right: 300px

  img.decor-4
    bottom: 310px
    right: 430px

  img.decor-5
    bottom: 210px
    right: 451px
  img.decor-6
    top: 140px
    left: 580px
  img.decor-7
    top: 80px
    left: 550px
  img.decor-8
    bottom: 510px
    right: 30px
  img.decor-9
    left: 30px
    top: 30px

  img.decor-10
    bottom: 510px
    right: 340px


.partners
  img.decor-1
    top: 300px
    right: 30px

  img.decor-2
    bottom: 310px
    right: 30px
  img.decor-3
    top: 300px
    left: 50px

  img.decor-4
    bottom: 310px
    right: 430px

  img.decor-5
    top: 195px
    right: 180px
  img.decor-6
    top: 160px
    left: 440px

.garant-presents
  img.decor-1
    top: 300px
    right: 30px

  img.decor-2
    bottom: 280px
    right: 30px
  img.decor-3
    top: 300px
    left: 50px

  img.decor-4
    bottom: 310px
    right: 430px

  img.decor-5
    top: 195px
    right: 180px
  img.decor-6
    bottom: 60px
    left: 340px
  img.decor-7
    bottom: 100px
    right: 200px
  img.decor-8
    top: 160px
    left: 440px

.calendar
  img.decor-1
    bottom: 300px
    right: 50px

  img.decor-2
    top: 600px
    left: 50px
  img.decor-3
    bottom: 50px
    right: 350px

  img.decor-4
    top: 100px
    left: 30px

  img.decor-5
    bottom: 70px
    left: 300px
  img.decor-6
    bottom: 300px
    left: 60px
  img.decor-7
    bottom: 200px
    left: 300px
  img.decor-8
    bottom: 510px
    right: 30px
  img.decor-9
    left: 200px
    top: 200px

  img.decor-10
    bottom: 510px
    right: 170px

.rules
  img.decor-1
    bottom: 100px
    right: 100px

  img.decor-2
    top: 260px
    left: 200px
  img.decor-3
    top: 260px
    left: 130px

  img.decor-4
    top: 100px
    right: 70px

  img.decor-5
    top: 100px
    right: 130px
  img.decor-6
    top: 350px
    left: 60px

.instagram
  img.decor-1
    bottom: 100px
    right: 100px

  img.decor-2
    top: 600px
    left: 110px
  img.decor-3
    top: 100px
    left: 130px

  img.decor-4
    top: 100px
    right: 70px

  img.decor-5
    top: 100px
    right: 160px
  img.decor-6
    bottom: 80px
    right: 290px
  img.decor-7
    top: 350px
    left: 60px


.winners
  img.decor-1
    bottom: 300px
    right: 50px

  img.decor-2
    top: 600px
    left: 50px
  img.decor-3
    bottom: 50px
    right: 350px

  img.decor-4
    top: 100px
    right: 30px

  img.decor-5
    bottom: 70px
    left: 300px
  img.decor-6
    top: 200px
    right: 160px
  img.decor-7
    bottom: 200px
    left: 300px
  img.decor-8
    bottom: 510px
    right: 30px
  img.decor-9
    left: 200px
    top: 200px


.map-block
  img.decor-1
    top: 300px
    right: 50px

  img.decor-2
    top: 200px
    left: 150px
  img.decor-3
    bottom: 120px
    left: 350px

  img.decor-4
    top: 100px
    right: 230px

  img.decor-5
    bottom: 70px
    left: 300px
/* /Мигающие декорации */

// End Sass file
@import "check-block"
@import "map-balloons"
@import "animations"
